graft examples/
graft src/mel_cepstral_distance_tests/
include pyproject.toml
include LICENSE
include CHANGELOG.md
include README.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CITATION.cff

global-exclude *.py[cod]
prune **/__pycache__
